@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #8C8C8C;
}

main {
    background-color: #ffffff;
    width: 700px;
    padding: 8px;
    border-radius: 15px;
    margin: auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

p {
    text-indent: 10px;
}